* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: "Poppins", sans-serif;

    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to left, rgb(248, 224, 9), rgb(255, 157, 0));
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #f5d20b;
    /* width: 100%; */
    width: 300px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 1.6rem 0.8rem;
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.109);
}

h2 {
    color: rgb(40, 35, 45);
    font-size: 2.4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;

    margin-top: 3.2rem;
}

form div {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.96rem;
}

form div input { 
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.226);
    
    border-radius: 10px;
    padding: 1.6rem;
    outline: none;
    
    color: white;
    font-size: 1.6rem;

    transition-duration: 0.2s;
}

/* form div input:focus {
    background-color: rgba(255, 255, 255, 0.226);
} */

form div input::placeholder {
    color: rgba(255, 255, 255, 0.876);
}

button { 
    height: 4rem;
    background-color: rgb(40, 35, 45);
    
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    
    border-radius: 10px;
    outline: none;
    
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 2.4rem;

    width: 100%;
}

.or {
    width: 100%;
    height: 2.4rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineLeft, .lineRight {
    background-color: rgb(40, 35, 45);
    height: 1px;
    width: 30%;   
} 

.orLoginWith {
    width: 40%;    
    height: 100%;
    
    color: rgb(40, 35, 45);
    font-size: 1.6rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
}

.enterWith {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 3.2rem;

    margin-top: 1.6rem;
}
 
.enterWith a {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;

    width: 40%;
    height: 100%;
    border-radius: 15px;

}

.enterWith .facebook {
    background-color: rgb(40, 35, 45);
    color: white;
    transition: all 0.2s ease-in-out;
}

.enterWith .twitter {
    background-color: rgb(40, 35, 45);
    color: white;
    transition: all 0.2s ease-in-out;
}

.enterWith img {
    margin-right: 0.8rem;
    width: 1.6rem;
    height: 1.6rem;
} 

button:hover, .facebook:hover, .twitter:hover {
    background-color: rgb(30, 26, 34);
    letter-spacing: 0.5px;
}

/* Responsividade */

@media (max-width: 425px) {
    
    main {
        background-color: transparent;
        box-shadow: none;
        width: 90%;
    }

    input, button {
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    }

    input:focus {
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);    
    }
}


@media (max-width: 320px) {
    html {
        font-size: 50%;
    }

}
 
@media (min-width: 1440px) {
    
    html {
        font-size: calc(calc(1440 / 960) * 62.5%);
    }
    
    main {
        width: calc(1.5 * 300px);
        min-height: calc(1.5 * 400px);
    }
}

@media (min-width: 2560px) {
    
    html {
        font-size: calc(3 * 62.5%);
    }
    
    main {
        width: calc(3 * 300px);
        min-height: calc(3 * 400px);
    }
}